.blue {
  color: skyblue;
}

.pink {
  color: rgb(255,192,203);
}

body {
  font-size:  20px;
}

body {
font-family: Arial, "Meiryo", sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  font-size: 2rem;
}

h1 {
  letter-spacing: 1.2em;
}

h1 {
  text-shadow: 2px 2px 4px gray;
}

h1 {
  border-bottom: 3px solid black;
}

body {
  text-align: center;
}

#basic p {
  font-weight: bold;
}